{% extends "base.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>

<body>

<h1>The present tense/El presente</h1>

<h4>Regular Verbs</h4>

<p>In Spanish, verbs have three different endings: ar, er, and ir. Their conjugation is based on the subject of the sentence. This table shows how to conjugate regular verbs in the present tense. If you need to review the subject pronouns, please review <a href="/grammar/basicSentenceStructure">this page</a>.
<table style="width:35%">
  <tr>
    <th class="Subject">Subject</th>
    <th>-ar</th>
    <th>-er</th>
    <th>-ir</th>
  </tr>
  <tr>
    <th>Yo</th>
    <th>-o</th>
    <th>-o</th>
    <th>-o</th>
  </tr>
  <tr>
    <th>Tú </th>
    <th>-as</th>
    <th>-es</th>
    <th>-es</th>
  </tr>
  <tr>
    <th>Él, Ella, Usted </th>
    <th>-a</th>
    <th>-e</th>
    <th>-e</th>
  </tr>
   <tr>
    <th>Nosotros </th>
    <th>-amos</th>
    <th>-emos</th>
    <th>-imos</th>
  </tr>
   <tr>
    <th>Vosotros </th>
    <th>-áis</th>
    <th>-éis</th>
    <th>-ís</th>
  </tr>
  <tr>
    <th>Ellos, Ellas, Ustedes</th>
    <th>-an</th>
    <th>-en</th>
    <th>-en</th>
  </tr>
</table>
</p>

<p>
	For example, the verb <i>hablar</i> means 'to speak'. To say the phrase "I speak", drop the -ar ending from hablar and replace it with "o" according to the table above. Thus, "I speak" becomes "yo hablo." <br>
 
 <br>As another example, all of the forms of <b>comer (to eat)</b> are: <br>
 Yo como <br>
 Tú comes <br>
 Ella come <br>
 Nosotros comemos <br>
 Vosotros coméis <br>
 Ellos comen

</p>

<h5><a href="/practice/presentConjugationsRegular">Try it!</a></h5>

<h4>Irregular Verbs</h4>
<p>There are two main types of irregular verbs: irregular yo forms and stem-changing verbs.</p>
<h6>Irregular Yo</h6>
<p>The following verbs are only different in the yo form; the conjugations for the other subjects are the same as above. Note that some of these verbs have a spelling change. The following lists some general rules.</p>
	<ul>
		<li>The yo form ends in -go for verbs that end in -guir</li>
		<li>The g in the yo form changes to a j for verbs that end in -ger or -gir</li>
		<li>Hacer, poner, salir, and valer end in -go</li>
		<li>Verbs that end in -cir and -cer change to -zco</li>
	</ul>

<table style="width:35%">
  <tr>
    <th>Spanish Infinitive</th>
    <th>Yo Form</th>
    <th>English Infinitive</th>
  </tr>
  <tr>
    <th>Caber</th>
    <th>Quepo</th>
    <th>To fit</th>
  </tr>
  <tr>
    <th>Caer</th>
    <th>Caigo</th>
    <th>To fall</th>
  </tr>
  <tr>
    <th>Conocer</th>
    <th>Conozco</th>
    <th>To know</th>
  </tr>
  <tr>
    <th>Dar</th>
    <th>Doy</th>
    <th>To give</th>
  </tr>
  <tr>
    <th>Dirigir</th>
    <th>Dirijo</th>
    <th>To direct</th>
  </tr>
  <tr>
    <th>Escoger</th>
    <th>Escojo</th>
    <th>To choose</th>
  </tr>
  <tr>
    <th>Exigir</th>
    <th>Exijo</th>
    <th>To demand</th>
  </tr>
  <tr>
    <th>Extinguir</th>
    <th>Extingo</th>
    <th>To extinguish</th>
  </tr>
  <tr>
    <th>Hacer</th>
    <th>Hago</th>
    <th>To do</th>
  </tr>
  <tr>
    <th>Poner</th>
    <th>Pongo</th>
    <th>To put</th>
  </tr>
  <tr>
    <th>Recoger</th>
    <th>Recojo</th>
    <th>To pick up</th>
  </tr>
  <tr>
    <th>Saber</th>
    <th>Sé</th>
    <th>To know</th>
  </tr>
  <tr>
    <th>Salir</th>
    <th>Salgo</th>
    <th>To leave</th>
  </tr>
  <tr>
    <th>Traducir</th>
    <th>Traduzco</th>
    <th>To translate</th>
  </tr>
  <tr>
    <th>Traer</th>
    <th>Traigo</th>
    <th>To bring</th>
  </tr>
  <tr>
    <th>Valer</th>
    <th>Valgo</th>
    <th>To be worth</th>
  </tr>
  <tr>
    <th>Ver</th>
    <th>Veo</th>
    <th>To see</th>
  </tr>

</table>
<br>
<h6>Stem Changes</h6>
<p>Sometimes the stem of the verb changes for all forms except nosotros and vosotros. 
	<ol>
		<li><b>-o to -ue </b><br>Some common verbs include:
			<ul>
				<li>Almorzar - to have lunch</li>
				<li>Contar - to count</li>
				<li>Costar - to cost</li>
				<li>Demostrar - to demonstrate/prove</li>
				<li>Devolver - to return</li>
				<li>Doler - to hurt</li>
				<li>Dormir - to sleep</li>
				<li>Encontrar - to find</li>
				<li>LLover - to rain</li>
				<li>Morir - to die</li>
				<li>Mostrar - to show</li>
				<li>Poder - to be able to</li>
				<li>Probar - to taste/to prove</li>
				<li>Recordar - to remember</li>
				<li>Remover - to remove</li>
				<li>Resolver - to resolve</li>
				<li>Volar - to fly</li>
			</ul>
		</li>
		<li><b>-e to -ie </b><br>Some common verbs include:
			<ul>
				<li>Atender - to attend to</li>
				<li>Calentar - to warm</li>
				<li>Cerrar - to close</li>
				<li>Comenzar - to begin</li>
				<li>Helar - to freeze</li>
				<li>Despertarse - to wake up</li>
				<li>Divertirse - to have fun</li>
				<li>Empezar - to begin</li>
				<li>Entender - to understand</li>
				<li>Gobernar - to govern</li>
				<li>Mentir - to lie</li>
				<li>Negar - to deny</li>
				<li>Nevar - to snow</li>
				<li>Pensar - to think</li>
				<li>Perder - to lose</li>
				<li>Preferir - to prefer</li>
				<li>Recomendar - to recommend</li>
				<li>Sentar(se) - to sit</li>
				<li>Sentir - to feel</li>
				<li>Sugerir - to suggest</li>
				<li>Tener - to have</li>
				<li>Venir - to come</li>
			</ul>
			<br>*The yo form for <b>tener</b> is <b>tengo</b> and the yo form for <b>venir</b> is <b>vengo</b>.
		</li>
		<li><b>-e to -i </b><br>Some common verbs include:
			<ul>
				<li>Conseguir - to get</li>
				<li>Decir - to say/tell</li>
				<li>Elegir- to elect</li>
				<li>Medir - to measure</li>
				<li>Pedir - to ask for</li>
				<li>Repetir - to repeat</li>
				<li>Reírse - to laugh</li>
				<li>Seguir - to follow</li>
				<li>Servir - to serve</li>
				<li>Sonreírse - to smile</li>
				<li>Vestirse - to get dressed</li>
			</ul>
			<br>Several of these words have irregular yo forms.
				<ul>
					<li>Decir -> Digo</li>
					<li>Conseguir -> Consigo</li>
					<li>Elegir -> Elijo</li>
					<li>Seguir -> Sigo</li>
					<li>Reírse -> me río (All present tense forms have an accent)</li>
				</ul>
		</li>
		<li><b>-u to -ue </b><br>Note that the only verb with this stem change is <i>jugar</i>.
			<ul>
				<li>Jugar - to play</li>
			</ul>
		</li>
		<li><b>-i to -ie </b><br>There are only two common verbs in this category: adquirir and inquirir.
			<ul>
				<li>Aadquirir - to acquire</li>
				<li>Inquirir - to inquire</li>
			</ul>
		</li>
	</ol>

</p>
<h5><a href="/practice/presentConjugations">Try it!</a></h5>


</body>
</html>

{% endblock %}