{% extends "base.html" %}

{% block content %}
{% load static %}

<!DOCTYPE html>
<html>
<body>
	<h1>Basic Sentence Structure</h1>
	<h4>Subject Pronouns</h4>
	<p>The subject of a sentence is who/what a sentence is about. In Spanish, the pronouns are based on not only person, but also the gender and pluratity of the speaker(s). Spanish pronouns are generally not capitalized unless they are at the beginning of the sentence. The exception to this are the abbreviations for usted and usteded or Ud. and Uds. respectively. 
	<table>
		<tr>
			<th>Person</th>
			<th>Singular</th>
			<th>Plural</th>
		</tr>
		<tr>
			<th>First</th>
			<th>Yo</th>
			<th>Nosotros, Nosotras</th>
		</tr>
		<tr>
			<th>Second</th>
			<th>Tú, Usted</th>
			<th>Vosotros, Vosotras, Ustedes </th>
		</tr>
		<tr>
			<th>Third</th>
			<th>Él, Ella</th>
			<th>Ellos, Ellas</th>
		</tr>

	</table>
	<br>
	<h6>Gender </h6>
	From the above chart, it's obvious that several of the pronouns are very similar except some have an o instead of an a. In fact, all of the plural pronouns have these multiple forms (with the exception of él and ella). The reason for this is to distinguish between the gender of the subjects. The a form is only used if all of the subjects are female. Otherwise, the o form is used. For example, if the speaker is a female and is talking in the first person about a group of all females, nosotras is used. 

	<br>For él and ella, él is the equivalent of "he" and ella is "she." <br>

	<br><h6>Formality & Second Person Subtleties</h6>
	It may seem like there are two different pronoun forms for the second person. This is because they are used to confer different level of respects. One is reserved for formal settings and the other for more informal settings. Informal pronouns are used for friends, peers, children, and generally subjects in a similar or lower position. Formal pronouns are used for bosses, elders, teachers, and generally when you want to show more respect.

	<br>For the singular pronouns, tú is informal and usted is formal. For the plural, vosotros/as is informal and ustedes is formal. However, vosotros is mainly only used in Spain. Most other Spanish-speakers only use ustedes when using the second person toward a group of people, regardless of formality.

	<br>The subject pronoun can be omitted if the subject is clear. For example, yo is often not used as the conjugation of the verb makes it clear who is doing the action. So "yo hablo" can be represented with just "hablo." <br>

	<br><h4>Sentence Structure</h4>
	The basic structure consists of the form SVO (Subject, verb, object). However, this structure can vary. For instance, a minimal sentence only needs a subject and a verb such as the sentence <br><span class="tab"></span>Yo como. (I eat.) <br> If you wanted to add an object to the sentence, it would typically go after the verb, as shown here, <br><span class="tab"></span>Yo como pizza. (I eat pizza.) <br>As mentioned in the above <i>Subject Pronoun</i> section, you can omit the subject if it's clear. Thus, the "yo" in the above sentences isn't needed as that information is contained in how comer is conjugated. So that sentence can become <br><span class="tab"></span>Como pizza. (I eat pizza.) <br>

	</p>

</body>
</html>

{% endblock %}